
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>
        <div class="mx-auto" style="width: 40%;">
        <form class="d-flex justify-content-center" role="search" action="/listings" method="GET">
          <input class="form-control me-2 rounded-pill text-center" type="search" name="location"
            placeholder="Search by location" aria-label="Search" />
          <button class="btn btn-danger rounded-pill px-4" type="submit">
            Search
          </button>
        </form>
      </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Create your Listing</a>
          <% if(!currUser){ %>
          <a class="nav-link " href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>
          <% if (currUser) { %>
            <a class="nav-link" href="/profile"><b>Profile</b></a>
            <a class="nav-link" href="/logout"><b>Log-out</b></a>
        <% } %>
        </div>
      </div>
    </div>
  </nav>