<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <h3 class="col-7 offset-3">Login </h3>
        <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                <input name = "username" id="username" type="text" class="form-control" required/>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                <input name = "password" id="password" type="password" class="form-control" required/>
                </div>
                <button class="btn btn-success">Login</button>
                <hr />

                <div class="text-center">
                    <p>Or sign in with:</p>
                    <a href="/auth/google" class="btn btn-danger">
                        <i class="fab fa-google"></i> Google
                    </a>
                    <a href="/auth/facebook" class="btn btn-primary">
                        <i class="fab fa-facebook"></i> Facebook
                    </a>
                </div>
        </form>
        </div>
        </div>